* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container, .welcome-container {
    padding: 40px;
    width: 100%;
    
}

.form-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 7px;
    
}

.welcome-container {
    width: 65%;
    background-color: #039BE5;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h1{
    color: #039BE5;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.create_text{
    color: #039BE5;
    font-size: small;
    display: flex;
    justify-content: center;
    
}

.social-login {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-btn {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.user-type {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.user-type input {
    margin-right: 5px;
}

.create {
   
    font-size: 2.5vh;
    color: white;
    border: 1px solid #ffffff; /* Largura e cor da borda */
    padding: 10px 20px;
    background-color: #039BE5;
    border-radius: 5vh;
    cursor:pointer; /* Cursor de ponteiro ao passar o mouse */
    border-color: #ffffff;
    align-self: center;
    }

.login-btn{
   
    font-size: 2.5vh;
    color: white;
    border: 1px solid #ffffff; /* Largura e cor da borda */
    padding: 10px 20px;
    background-color: #039BE5;
    border-radius: 5vh;
    cursor:pointer; /* Cursor de ponteiro ao passar o mouse */
    border-color: #ffffff;
  
    }


button.login-btn {
    background-color: #039BE5;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .welcome-container{
        width: 100%;
    }

}
.login-btn:hover {
    background-color: #ffffff; /* Azul mais escuro */
    color: #039BE5;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Sombra mais pronunciada */
}
.create:hover {
    background-color: #ffffff; /* Azul mais escuro */
    color: #039BE5;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5vh;
    border: 1px solid #039BE5; /* Largura e cor da borda */
}

label{
    color: #039BE5;
}
